<div ng-controller="EntryController">
    <div ng-show="!entry&&!notFound&&!noAccess">
        <div class="col-md-12 text-center" style="margin-top: 50px; color: #AAA; font-size: 25px">
            <i class="fa fa-2x fa-gear fa-spin"></i> <br>Loading Contents
        </div>
    </div>

    <div ng-show="!entry&&notFound">
        <div class="col-md-12 text-center" style="margin-top: 50px; color: #AAA; font-size: 25px">
            <i class="fa fa-3x fa-warning" style="color: darkred"></i> <br> Specified entry not found
        </div>
    </div>

    <div ng-if="entry">
        <div class="entry_general_header_td">
            <div class="col-md-10">
                <i ng-click="backToResults()" ng-if="search.parameters.available"
                   class="pull-left fa fa-arrow-circle-left entry_go_back cursor_pointer" title="Back to results">
                </i>

                <h4>
                    <strong style="color: #888;">{{entry.type}}</strong>
                    <strong>{{entry.name}}</strong>&nbsp;

                    <span ng-repeat="parent in entry.parents">
                    &nbsp;<a ng-href="entry/{{parent.recordId}}" uib-tooltip="{{parent.name}}"
                             tooltip-trigger="mouseenter"
                             style="font-size: 12px; color: white; position: relative; top: -4px"
                             class="label cursor_pointer "
                             ng-class="{'label-default':parent.visible=='OK',
                             'label-warning': parent.visible=='PENDING' || parent.visible == 'DRAFT',
                             'label-info':parent.visible=='TRANSFERRED',
                             'label-danger': parent.visible=='DELETED'}">
                        {{parent.type | capitalize}} <i class="fa fa-level-up"></i></a>
                    </span>
                    <br>
                    <small class="font-65em">{{entry.creationTime | date:'medium'}} <span
                            style="color: #ccc; width: 1px">&nbsp;|&nbsp;</span>{{entry.owner || entry.creator}}
                    </small>
                </h4>
            </div>

            <div class="col-md-2" style="margin-top: 15px; white-space: nowrap">
                <div ng-if="search.parameters.available">
                    <button type="button" class="btn btn-link outline-none" ng-disabled="search.parameters.start===0"
                            ng-click="prevEntryInContext()">
                        <i class="fa fa-arrow-left context_nav_pager"></i></button>
                    <strong class="font-90em">{{search.parameters.start+1 | number}} / {{search.parameters.available |
                        number}}</strong>
                    <button type="button" class="btn btn-link outline-none"
                            ng-disabled="search.parameters.start==search.parameters.available-1"
                            ng-click="nextEntryInContext()">
                        <i class="fa fa-arrow-right context_nav_pager"></i></button>
                </div>
            </div>
        </div>

        <table width="100%">
            <tr>
                <td style="vertical-align: top">
                    <ng-include src="selection"></ng-include>
                </td>
                <td style="width: 25px">&nbsp;</td>
                <td style="width: 170px; vertical-align: top">
                    <table cellpadding="0" cellspacing="0" class="entry_detail_submenu pull-right">
                        <tr ng-repeat="subMenu in subDetails"
                            ng-if="(subMenu.isPrivileged&&entry.ownerEmail===user.email) || !subMenu.isPrivileged || user.isAdmin">
                            <td ng-class="{selected:subMenu.selected}" ng-click="showSelection($index)">
                                <i class="fa {{subMenu.icon}}"></i> &nbsp;{{subMenu.display}}
                                <span ng-if="subMenu.countName" style="float: right; color: #999;">{{entryStatistics[(subMenu.countName)] || 0}}</span>
                            </td>
                        </tr>
                    </table>

                    <div class="pad_top pull-right">
                        <ice-entry-attachment></ice-entry-attachment>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>